/* ================================= 
  Mobile First Approach
==================================== */
/*
html, body, h1, h2, h3, p, ol, ul, li, a{
	padding:0;
	border:0;
	margin:0;

}*/

/* ================================= 
  Base Element Styles


 ex: ; body,p,h1,h2,h3,a,img

==================================== */


/* Sets Element's Width equal to content + padding + border using properyt box-sizing*/

* {

box-sizing:border-box;

}




/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */
/*ex: nav bars*/

/* ================================= 

NAVBAR{

	1)be sure to give the elements below a padding 
	equal to the height of the navbar so it doesnot cover the 
	keeps it fixed in one spot with relation
	to the browser viewpoint no matter what
	2) use z-index 
	position: fixed;
	box-shadow: 0 1px 4px rgba(0,0,0,0.4);
	Give 100% width
	width: 100%;
	this offset value sets the element at the very top of the
	top: 0;
	z-index: 1 ;

}

==================================== */



/* ---- Layout Containers ---- */



/* ---- Page Elements ---- */
/* logos */


/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 768px){

/*use containers with 90%*/


}


@media (min-width: 1025px){

/*use containers with 80%*/
/*plus a max width in pixels in case the screen is huge*/

}