
.navbar{
	margin-bottom: 0;
}

.navbar .navbar-inverse .navbar-fixed-top{
	height: 50px;
	margin-bottom:0;
	border:0;
}
.navbar .container{
	height: 50px;

}

.navbar-inverse .navbar-nav{
	/*color:#9d9d9d;*/
	font-size: 18px;

}

body .container{
	padding:0px;
	height: 500px;
	margin: 0;
	width: 100%;

}


#intro.container{
	height: 700px;

}

#intro{
	background-image: url("https://images.unsplash.com/photo-1446062061624-594b6e3403d7?ixlib=rb-0.3.5&q=80&fm=jpg&s=385775fbab01df85cbf81ae1e610f6a4");
	background-size: cover;
	padding-top: 100px;
}

#intro h1{
	color: #9d9d9d;
	font-size: 55px;
}

#intro ul{
	color: #9d9d9d;
	font-size: 32px;

}

#aboutme.container{



}

#aboutme{
	height: 500px;
	background-color: white;
	
	

}

#aboutme blockquote{
	font-size:18px;
}

#profile img{
	border-radius: 50%;
	max-height: 500px;
	height:250px;
	width: 250px;

}

/*Skills */

#skills{
	max-width: 100%;
	background-color: #E5E8E3;
	padding-top: 100px;
}
/*PROJECTS*/


#myProjects img{
	max-height: 500px;
	width: 100%;
}

#myProjects p{
	font-size: 30px;
	color:#9d9d9d;
}

#myProjects h1{
	color:#9d9d9d;
}


#myProjects .carousel-control .icon-next, #myProjects .carousel-control .icon-prev{
	margin-top: -100px;
	font-size:125px;
	
}

h1{
	font-size: 50px;
}

body h1{
  font-family: 'Freight Sans Pro';*/
  line-height: 80px;
  font-size: 50px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 10px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#contactme{
	background-color:#E5E8E3;
	padding-top: 100px;

}
#contactme h1{
	padding-bottom: 100px;
	color: inherit;


}
/*
a{
	color: #333 !important;
}*/

/*or*/

#contactme blockquote{
	color: #333;
}

/*icons glyphicons to make them bigger
standard font size in 14px in bootstrap so icons are also affected 
use tag i instead of glyphicon as i am using fortawesome fonts as well */

.row i{
	font-size: 60px;
	color: #333;


}

#skills i{
	font-size: 50px;
}


