
.navbar{
	margin-bottom: 0;
}

.navbar .navbar-inverse .navbar-fixed-top{
	height: 50px;
	margin-bottom:0;
	border:0;
}
.navbar .container{
	height: 50px;

}

body .container{
	height: 500px;
	margin: 0;
	/*padding-top: 50px;*/
	width: 100%;

}


#intro.container{
	height: 700px;
}

#intro{
	background-image: url("https://images.unsplash.com/photo-1446062061624-594b6e3403d7?ixlib=rb-0.3.5&q=80&fm=jpg&s=385775fbab01df85cbf81ae1e610f6a4");
	background-size: cover;
	padding-top: 100px;
}

#aboutme{
	background-color: whiter;
	padding-top: 100px;

}

#skills{

	background-color: #d4d8d1;
	padding-top: 100px;
}
/*PROJECTS*/


#myProjects img{
	max-height: 500px;
	width: 100%;
}

#myProjects p{
	font-size: 35px;
}

h1{
	font-size: 40px;
}

body h1{
  font-family: 'Freight Sans Pro';*/
  line-height: 80px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 10px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#contactme{
	background-color:white;
	padding-top: 100px;

}
#contactme h1{
	padding-bottom: 100px;
	color: gray;

}

#contactme blockquote{
	color: #337ab7;
}

/*icons glyphicons to make them bigger
standard font size in 14px in bootstrap so icons are also affected 
use tag i instead of glyphicon as i am using fortawesome fonts as well */

.row i{
	font-size: 60px;
	color: #337ab7;


}

#skills i{
	font-size: 50px;
}


