
body h1, h2, h3, h4, h5, h6, p, .button {
	font-family: , "Open Sans", sans-serif ;
    line-height: 1.9em !important;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 200;
    font-style: normal;

}


/*Styles*/

/*.sweet{	
	position:fixed;
	top: 0;
	width:100% !important; 
	z-index:10;
	text-align:center;
	background-image:url('images/sfMe.jpeg');
	background-repeat: no-repeat;
	background-size:cover;
	};*/

h2,
.button{
	text-transform: uppercase;


}

p{
font-size: 1.25em !important;
}

.button{
	padding: 0.5em 1.5em !important;
	margin-bottom:auto;
}



#header a,
#header h1
/*#header span*/
{
	flex-grow: 0;

}


/*Animation */

/*RECALL IF Avatar is brought back  nth-child values will change*/

#header h1:nth-child(0n+1){
	animation-timing-function: ease-out;
	-webkit-animation: type 4s steps(50, end);
	animation: type 4s steps(50, end);
}

#header h1:nth-child(0n+1)::after{
	content:"";
	padding-right:6.25em;
}

#header h1:nth-child(0n+3){
	overflow: hidden;
	animation-timing-function: linear;
	-webkit-animation: type2 6s steps(50, end);
	animation: type2 6s steps(50, end);	
	

}
/*Needed an after pseudo element for the type effect*/
#header h1:nth-child(0n+3)::after{
	content:"";
	padding-right: 5em;
}

.blink{
	flex-grow: 0;
		animation: blink 1s infinite;
	}



	@keyframes type{ 
					  from { width: 0; } 
					} 

	@-webkit-keyframes type{
							  from { width: 0; }
							}

	@keyframes type2{
					  0%{width: 0;}
					  50%{width: 0;}
					  100%{width: 100;}
					} 


	@-webkit-keyframes type2{
					  0%{width: 0;}
					  50%{width: 0;}
					  100%{ width: 100; } 
					} 

	@keyframes blink{
							to{opacity: .0;}
					}


/*scrolling*/

a[id="two"]:target{

}


@media screen and (min-width: 767px){


a.work-item{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
}

a.image.fit.thumb{
	margin:0;
	flex: 1 1 auto;
	overflow: auto;
	max-width: 19em;
	max-height: 11.50em;
}

}


@media screen and (min-width: 980px){

/*image only will be set this way for screensizes larger than 1280*/
#header {
	
		background-position: 80% 60% !important;
}

a.work-item{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
}

a.image.fit.thumb{
	margin:0;
	flex: 1 1 auto;
	overflow: auto;
	max-width: 24em;
	max-height: 14em;
}

footer .icons{
	display:flex;
	justify-content: center;
}

li .icon{


}